.container {
  display: flex;
  flex-direction: column;
}

.blogStyle {
  padding-top: 10px;
  padding-left: 5px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.buttonStyles {
  display: "flex";
  flex-direction: "column";
}
